<div class="container-fluid">
<div class="row">
    <div class="col-md-2 col-xs-2 col-sm-2">

    </div>
  <div class="col-md-8 col-xs-14 col-sm-8">

{{outlet}}
<div class="clearfix"></div>
  </div>
  <div class="col-md-2 col-xs-2 col-sm-2">
    
  </div>
</div>
</div>